body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA; /* Azul bebê */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #F3E5F5; /* Lavanda */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #0097A7; /* Azul mais forte */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #00796B; /* Azul escuro */
}

.links {
    margin-top: 15px;
}

.links a {
    color: #0097A7; /* Azul mais forte */
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.links p {
    margin: 10px 0 0;
    font-size: 14px;
}
